aws_region               = "ap-southeast-1"
ami                      = "ami-002fa10fbb7594252"
instance_type            = "t2.micro"
instance_name            = "AwsVps"
subnet_id                = "subnet-032b8e5de17263651"
vpc_id                   = "vpc-0d541ad12136d30be"
is_public_ip             = true
create_key_pair          = false
aws_key_pair_name        = "marcuwynu23-aws"
aws_key_pair_public_key  = "./credentials/id_marcuwynu23_aws.pub"
aws_key_pair_private_key = "./credentials/id_marcuwynu23_aws"
